In [3]:
print("Hello world")

Hello world

In [6]:
name = "nikhitha"
age = 22
print(name,age)

nikhitha 22

In [10]:
name = input("What is your name?")
print("Hello " + name)

What is your name?Tony Stark
Hello Tony Stark

In [11]:
name = input("print your Superhero")
print(name)

print your SuperheroHulk
Hulk

Type conversion

In [14]:
old_age = input("Enter your old_age: ")
new_age = int(old_age) + 2
print(new_age)

Enter your old_age: 20
22

type of conversions

In [ ]:
float()
str()
bool()

Strings

In [2]:
name = "Tony Stark"

print(name.upper())
print(name.lower())

TONY STARK
tony stark

Find operation

In [5]:
name = "Tony Stark"
print(name.find('S'))
print(name.find('s'))
print(name.find("Stark"))
print(name.find("stark"))

5
-1
5
-1

In [6]:
name = "Tony Stark"
print(name.replace("Tony Stark","Iron man"))
print(name)

Iron man
Tony Stark

in keyword

In [7]:
name = "Tony Stark"
print("T" in name)

True

In [8]:
print("Iron man" in name)

False

arthametic operators

In [9]:
print(5+2)

7

In [10]:
print(5-2)

3

In [11]:
print(5*2)

10

In [12]:
print(5/2)

2.5

In [13]:
print(5//2)

2

In [14]:
print(5%2)

1

In [15]:
print(5**2) #5 pow 2

25

In [17]:
i = 5
print(i)
i = i+2
print(i)
i += 2
print(i)
i-=2
print(i)
i*=2
print(i)

5
7
9
7
14

BODMOS

In [18]:
result=2+3*5
print(result)

17

In [19]:
result=(2+3)+5
print(result)

10

In [20]:
result=2+3/5
print(result)

2.6

comments

In [21]:
# easy english lines

comparision output will be printed in boolean function

In [22]:
print(3>2)

True

In [24]:
print(3<2)

False

In [25]:
print(3==2)

False

In [26]:
print(2==2)

True

In [27]:
print(3!=2)

True

Logical operator(or,and,not)

In [28]:
print(2>3 or 2>1)

True

In [29]:
print(2>3 and 2>1)

False

In [30]:
print(4>3 and 2>1)

True

In [31]:
print(not 3>2)

False

conditions (if else if)

In [32]:
age = 19
if age >= 18:
    print("You are an adult")
    print("You can vote")
elif age < 18 and age > 3:
    print("You are in school")
else:
    print("You are a child")

You are an adult
You can vote

creating a calcultor program

#### first = input("Enter first number:")
operator = input("Enter operator(+,-,*,/,%)")
second = input("Enter second number:")

first=int(first)
second=int(second)

if operator == "+":
    print(first+second)
    
elif operator == "-":
    print(first-second)    
    
elif operator == "*":
    print(first*second)
    
elif operator == "/":
    print(first/second)
    
elif operator == "%":
    print(first%second)
    
else:
    print("Invalid operator")

Range

In [35]:
range(5) #0,1,2,3,4

range(0, 5)

In [36]:
number = range(5)
print(number)

range(0, 5)

Loop

In [ ]:
while,for,

while

In [2]:
i=1
while i<=5:
    print(i * "*")
    i=i+1

*
**
***
****
*****

In [3]:
i=5
while i>=0:
    print(i * "*")
    i=i-1

*****
****
***
**
*

For loop

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

List

In [6]:
marks=[95,34,35,"maths"]
print(marks)

[95, 34, 35, 'maths']

In [7]:
print(marks[0])

95

In [8]:
print(marks[-1])

maths

In [9]:
print(marks[-2])

35

In [10]:
marks=[87,78,87,67]
print(marks[0:2])

[87, 78]

In [11]:
marks=[87,78,87,67]
print(marks[1:3])

[78, 87]

In [12]:
for score in marks:
    print(score)

87
78
87
67

append operation

In [13]:
marks.append(99)
print(marks)

[87, 78, 87, 67, 99]

insert

In [14]:
marks.insert(0,99)
print(marks)

[99, 87, 78, 87, 67, 99]

In [15]:
print(99 in marks)

True

In [16]:
print(len(marks))

6

In [17]:
i=0
while i<len(marks):
    print(marks[i])
    i = i+1

99
87
78
87
67
99

In [18]:
marks.clear()
print(marks)

[]

Break and continue keyword

In [21]:
students = ["honey","akhil","bobby","soujanya","Harshika"]
for student in students:
    if student == "soujanya":
        break;
    print(student)

honey
akhil
bobby

In [22]:
for student in students:
    if student == "bobby":
        continue
    print(student)

honey
akhil
soujanya
Harshika

Tuple(immutable)

In [25]:
marks=(98,99,67,78,78,78)

In [26]:
print(marks.count(78))

3

In [28]:
print(marks.index(99))

1

sets

In [33]:
marks={98,99,87,56,99}

In [35]:
print(marks)

{56, 98, 99, 87}

In [36]:
for score in marks:
    print(score)

56
98
99
87

dictionary

In [37]:
marks = {"english": 95, "maths": 98}

print(marks["maths"])

98

In [39]:
marks["dbms"]=97
print(marks)

{'english': 95, 'maths': 98, 'dbms': 97}

In [40]:
marks["english"]= 97

In [41]:
print(marks)

{'english': 97, 'maths': 98, 'dbms': 97}

functions

In [42]:
#in-built functions
#module functions
#user-defined functions

math module

In [43]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [45]:
from math import sqrt
print(sqrt(19))

4.358898943540674

In [46]:
from math import *

functions

In [49]:
def print_sum(first, second=4):
    print(first+second)
    
print_sum(1)

5

In [50]:
print("Thank You")

Thank You